html, body {
    margin: 0;
}

a {
    text-decoration: none;
}

.nav_bar a:visited{
    color: silver;
}

.apple-logo:hover {
    transition: all 0.5s;
    color: white;
}

header {
    position: fixed;
    display:flex;
    margin: 0;
    width: 100%;
    height: 65px;
    line-height: 65px;  
    justify-content: space-between;
    background-color: rgba(0,0,0,0.8);  
}

.nav_bar {
    list-style: none;
    display: flex;  
    opacity: 1;   
}

.nav_bar li {
    padding-right:125px;
    color: silver;
    font-size: 22x;
}

.nav_bar li:hover {
    color:white;
    transition: all 0.5s;
}

.comment {
    width: 100%;
    height: 65px;
    text-align: center;
    line-height: 65px;
    background-color: #fbfbfd;
    font-size: 18px;
    letter-spacing: -1px;
    padding-top: 65px;
}

.main-container {
    display: flex;
    margin: 0 20px;
    margin-bottom: 20px;
}

.container {
    display: inline-block;
    width: 900px;
    height: 800px;
    background-color: black;
}

footer {
    background-color: #fbfbfd;
}

.infos {
    width: 80%;
    height: 100%;    
    margin: 0 auto;
}

.caution {
    padding-top: 15px;
    padding-bottom: 20px;
}

.links {
    margin-top: 20px;
    display: flex;
}

.more {
    width: 20%;
    height: 480px;
    list-style: none;
    letter-spacing: -1px;
}

.more li {
    padding: 7px 0;
    font-size: 18px;
    color: black;
}

.more li:hover {
    text-decoration: underline;

}

.more a:visited {
    color: grey;
}

.more h3 {
    font-size: 17px;
    margin-bottom: 0;
}

.tel {
    width: 80%;
    height: 50px;
    padding-top: 50px;
    margin: 0 auto;
}

.copyright {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 50px;
    
}

i:hover {
    color: white;
    transition: 1s;
}